/* navbar styles */
.nav-bar-home {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.nav-bar-btn .image-logo {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
    top: 0;
  margin-right: 685px;
}

.nav-bar-home a {
  color: #212529;
  font-weight: 500;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
.nav-bar-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: white;
}

.nav-bar-btn a {
  margin-left: 10px;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

.nav-bar-btn a:hover {
  color: #0099ff;
}

/* unordered list styles */
.ul-list ul {
  list-style: none;
  padding: 10;
  margin-top: 55px;
  width: 375px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.ul-list li {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 5px;




}

.ul-list a {
  color: #212529;
  text-decoration: none;
}

.ul-list a:hover {
  color: #007bff;
}


.table {
  margin-top: 70px; 
}
