.bg-img {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
    top: 0;
    font-weight: 500;
    letter-spacing: .05em;
    position: absolute;
}
.navbar-a {
    position: fixed; /* фіксуємо навбар на верху екрану */
    top: 0; /* позиціюємо на верхній межі екрану */
    left: 0; /* розміщуємо зліва відносно сторінки */
    right: 0; /* розміщуємо справа відносно сторінки */
    padding-left: 8%;
    margin-top: 50px;
    height: 60px; /* задаємо висоту навбара */
    color: #fff; /* додаємо колір тексту */
}

.navbar a {
  color: #fff;
  text-decoration: none;
}
.navbar ul {
  list-style: none; /* видаляємо маркери списку */
  margin: 0;
  padding: 0;
  display: flex; /* задаємо flex-контейнер */
  justify-content: space-between; /* вирівнюємо елементи по ширині контейнера */
  align-items: center; /* вирівнюємо елементи по вертикалі */
  height: 100%;
}

.navbar li {
  margin: 0 20px; /* відступ між елементами меню */
}

.text-up{
    color: #FFFFFF;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
    float: left;
    padding-top: 60px;


}

.signup-form-container {
  position: absolute;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px #00000030;
  margin-top: -50px;
  margin-left: 630px;
  margin-bottom: 200px;
  float: right;
  width: 24%;


}
#id_car_in_fleet {
  display: block;
}

.login-form.spacer {
  margin-top: 20px;
}

.login-form .input-group {
  margin-bottom: 15px;
}
.form-car_in_fleet{
  margin-top: 10px;
  margin-right: 150px;

}
.form-car_in_fleet{
  margin-top: 10px;
  margin-right: 150px;
}
.form-car_in_fleet-count{
    width: 1000%;
}
.login-form .input-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.login-form input[type="text"]:focus,
.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
  outline: none;
  border-bottom: 2px solid #f7b731;
}

.login-form .submit {
  display: block;
  width: 100%;

}

#ember36 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

.btn-success {
    color: #fff;
    background-color: #40df6d;
}
.language {
text-align: center;
}

.sidebar-text {
    position: fixed; /* або absolute, залежно від ваших потреб */
    top: 0;
    left: 0;
    width: 200px; /* або будь-яка інша ширина, яка вам потрібна */
    padding: 20px;
    background-color: #f5f5f5; /* або будь-який інший колір фону */
  }
