{% extends 'base.html' %}
{% block content %}
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Тижневі звіти</title>-->
<!--      {% load static %}-->

<!--    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">-->

<!--        <link rel="shortcut icon" href="https://fleets.bolt.eu/v3.64.0/favicon-85a68af9e6cd9a9cd63f02f5425c060d.ico">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->

<!--</head>-->
<!--<body>-->
<!--    <div class="nav-bar-btn">-->
<!--        <a href="{% url 'home' %}"><img src="https://fleets.bolt.eu/v3.64.0/assets/img/logo-fleet-c9c6a9d3029f86fe05cf68f102402a96.svg" class="image-logo" alt="Зареєструватися, як власник автопарку | Bolt"></a>-->

<!--        <a href="{% url 'signup' %}">Зареєструватися, як власник автопарку </a> | <a href="{% url 'login' %}">Bolt</a>-->
<!--    </div>-->
<h1>Тижневі звіти</h1>
<p>Тут ви можете завантажити ваші щотижневі звіти.</p>
    <p>&nbsp;</p>
<div class="row">
  <div class="col-sm-12">
<!---->    <table class="table table-striped table-hover m-b-md">
      <thead>
        <tr>
          <th>Термін</th>
          <th>Завантажити</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>12.09.2022 - 18.09.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W37" id="ember483" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>05.09.2022 - 11.09.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W36" id="ember485" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>29.08.2022 - 04.09.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W35" id="ember487" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>22.08.2022 - 28.08.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W34" id="ember489" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>15.08.2022 - 21.08.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W33" id="ember491" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>08.08.2022 - 14.08.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W32" id="ember493" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>01.08.2022 - 07.08.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W31" id="ember495" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>25.07.2022 - 31.07.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W30" id="ember497" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>18.07.2022 - 24.07.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W29" id="ember499" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>11.07.2022 - 17.07.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W28" id="ember501" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>04.07.2022 - 10.07.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W27" id="ember503" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>27.06.2022 - 03.07.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W26" id="ember505" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>20.06.2022 - 26.06.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W25" id="ember507" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>13.06.2022 - 19.06.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W24" id="ember509" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>06.06.2022 - 12.06.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W23" id="ember511" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>30.05.2022 - 05.06.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W22" id="ember513" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>23.05.2022 - 29.05.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W21" id="ember515" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>16.05.2022 - 22.05.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W20" id="ember517" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>09.05.2022 - 15.05.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W19" id="ember519" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>02.05.2022 - 08.05.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W18" id="ember521" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>25.04.2022 - 01.05.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W17" id="ember523" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>18.04.2022 - 24.04.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W16" id="ember525" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>11.04.2022 - 17.04.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W15" id="ember527" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>04.04.2022 - 10.04.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W14" id="ember529" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>28.03.2022 - 03.04.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W13" id="ember531" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>21.03.2022 - 27.03.2022</td>
            <td>
              <span role="button">
                <a href="https://fleets.bolt.eu/company/58225/reports/weekly/2022W12" id="ember533" class="ember-view">CSV</a>
              </span>
            </td>
          </tr>
      </tbody>
    </table>
      <span role="button" class="btn btn-block btn-link">
        Показати більше
      </span>
  </div>
</div>


{% endblock content %}

