<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://fleets.bolt.eu/v3.64.0/favicon-85a68af9e6cd9a9cd63f02f5425c060d.ico">
    {% load static %}


    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    <link integrity="" rel="stylesheet" href="https://fleets.bolt.eu/v3.64.0/assets/vendor-9e4c150cfe6eb34102958c107c3bef6a.css">
    <link integrity="" rel="stylesheet" href="https://fleets.bolt.eu/v3.64.0/assets/fleet-owner-7f222be5328a4ad4bf0e9a48ceb15e1d.css">
    <link rel="shortcut icon" href="https://fleets.bolt.eu/v3.64.0/favicon-85a68af9e6cd9a9cd63f02f5425c060d.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="text-up">
    <div class="text-center">
<img src="https://fleets.bolt.eu/v3.64.0/assets/img/logo-fleet-c9c6a9d3029f86fe05cf68f102402a96.svg" class="image-logo" alt="Зареєструватися, як власник автопарку | Bolt">
    </div>
    <div class="hr-divider m-y">
      <h3 class="hr-divider-content hr-divider-heading">
        FORGOT PASSWORD
      </h3>
    </div>
    <div class="text-forgot"><p>Enter your email and phone, and we'll send you a link to reset your password.</p></div>
    <div class="signup-form-container">
            <form method="POST" action="{% url 'forgot_password' %}" class="forgot-password-form spacer" id="forgot-password-form">
                {% csrf_token %}

                <div class="input-group">
                    <label class="text-login-form">E-mail</label>
                    <div class="login-form">{{form.email}}</div>
                </div>
                <div class="input-group">
                    <label class="text-login-form">Phone</label>
                    <div class="login-form">{{form.phone}}</div>
                </div>

                <div class="text-forgot-2"
                <p>Select international country prefix and enter your phone<br> number. For example select +380 and enter 501234567
<br>Phone number will be cleaned: spaces, brackets and<br> dashes will be removed</p>
                <div style="text-align: center;">

                <button id="ember36" type="button" class="btn btn-success btn-lg btn-block ember-view">Reset password →</button>
                </div>
                <div style="text-align: center;">

                <button id="ember37" type="button" class="btn btn-success btn-lg btn-block ember-view"onclick="location.href='{% url 'login' %}'">Back</button>
                </div>

            </form>
    </div>
</div>
</body>
</html>
